<div class="home-wrp">
	<h1>Flatten Array</h1>
	<div class="inputs">
		<input id="toflatten" placeholder="insert something like: [2,3,2,3,[2,3,[2,4],[3]],3]" />
		<button>Flatten!</button>
	</div>
	<div class="flatten-result"></div>
</div>